[project]
	description = "Design a Web-based software that predicts the appearance of a new link between two nodes in a social network using Dolphin Social Network dataset in  https://networkdata.ics.uci.edu/data.php?id=6 Implement the K-NN Algorithm (Section 6.9.1, page 348)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luong Anh Tuan (Tuanlase02874)
[access "refs/for/refs/*"]
	read = group user/Luong Anh Tuan (Tuanlase02874)
	push = group user/Luong Anh Tuan (Tuanlase02874)
	label-Code-Review = -2..+2 group user/Luong Anh Tuan (Tuanlase02874)
	label-Verified = -1..+1 group user/Luong Anh Tuan (Tuanlase02874)
	rebase = group user/Luong Anh Tuan (Tuanlase02874)
	removeReviewer = group user/Luong Anh Tuan (Tuanlase02874)
	submit = group user/Luong Anh Tuan (Tuanlase02874)
[access "refs/heads/*"]
	read = group user/Luong Anh Tuan (Tuanlase02874)
	create = group user/Luong Anh Tuan (Tuanlase02874)
	push = +force group user/Luong Anh Tuan (Tuanlase02874)
	pushMerge = group user/Luong Anh Tuan (Tuanlase02874)
[access "refs/tags/*"]
	push = group user/Luong Anh Tuan (Tuanlase02874)
	push = +force group user/Luong Anh Tuan (Tuanlase02874)
